.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app__body {
  display: flex;
  flex: 1;
  width: 100vw;
}

.app {
  background-color: #f9f9f9;
  color: #000;
}

.header {
  background-color: #f1f3f4;
  border-bottom: 1px solid #ccc;
}

.sidebar {
  background-color: #fff;
  border-right: 1px solid #ccc;
}

/* Dark Theme */
.dark-theme {
  background-color: #121212; 
  color: #ffffff;
}

.dark-theme .bottom-tray {
  background-color: #1f1f1f;
  color: #ffffff;
}

.dark-theme .email-tray,
.dark-theme .email-tray-content,
.dark-theme .email-tray-content h2,
.dark-theme .search-dialog,
.dark-theme .search-dialog-header{
  background-color: #1f1f1f;
  color: #ffffff;
}

.dark-theme .search-dialog-list li:hover {
  background-color: #1f1f1f;
}

.dark-theme .close-btn{
  color: #fff;
}

.dark-theme .close-btn:hover{
  background-color: #1f1f1f;
}

.dark-theme .groups-item,
.dark-theme .groups-add-form{
  background-color: #1f1f1f;
  color: #ffffff;
}